## Data Preprocessing

In [2]:
import pandas as pd
import numpy as np

In [3]:
nasdaq_etf = pd.read_excel("./data/data.xlsx", skiprows=4, usecols=[0, 1], names=["Date", "NASDAQ_Returns"])
nasdaq_etf["NASDAQ_Returns"] = pd.to_numeric(nasdaq_etf["NASDAQ_Returns"], errors="coerce")
nasdaq_etf["Date"] = pd.to_datetime(nasdaq_etf["Date"], errors="coerce")
nasdaq_etf = nasdaq_etf.dropna().reset_index(drop=True)

nasdaq_etf.head()

        Date  NASDAQ_Returns
0 2010-02-28        4.540954
1 2010-03-31        7.657586
2 2010-04-30        2.159086
3 2010-05-31       -7.345586
4 2010-06-30       -6.101762

In [4]:
em_etf = pd.read_excel("./data/data.xlsx", skiprows=4, usecols=[2, 3], names=["Date", "MSCI_Returns"])
em_etf["MSCI_Returns"] = pd.to_numeric(em_etf["MSCI_Returns"], errors="coerce")
em_etf["Date"] = pd.to_datetime(em_etf["Date"], errors="coerce")
em_etf = em_etf.dropna().reset_index(drop=True)

em_etf.head()

        Date  MSCI_Returns
0 2003-05-31          8.19
1 2003-06-30          4.86
2 2003-07-31          5.93
3 2003-08-31          7.11
4 2003-09-30          0.65

In [5]:
merged_data = pd.merge(nasdaq_etf, em_etf, on="Date", how="inner")

merged_data.head()

        Date  NASDAQ_Returns  MSCI_Returns
0 2010-02-28        4.540954          0.41
1 2010-03-31        7.657586          7.93
2 2010-04-30        2.159086          0.71
3 2010-05-31       -7.345586         -9.70
4 2010-06-30       -6.101762         -0.55

In [7]:
returns = merged_data.iloc[2, 1:3]

state = "".join(["1" if r > 0 else "0" for r in returns])
state

'11'